<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <title>Kisan Grain Seller</title>
    <script src="area.js"></script>
</head>
<body>
<!--<input type="text" name="height" id="height">-->
<!--<input type="text" name="width" id="width">-->
<!--<input type="text" name="area" id="area">-->
<!--<button type="button" id="submit" onclick="javascript:buttonClicked();">Click Me!</button>-->
<div id="header">
         <button id="signup">Sign up</button>
    <a href="/login"><button id="login">Login</button></a>
</div>
<div id="body">
    <div id="aboutSection">
    	<h1>hello world</h1>
    </div>
    <div id="imageSection">
    	<h1>hello world</h1>
    </div>
</div>

</body>
</html>