<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src="/js/signup.js"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="signup-form">
            <input id="username" placeholder="username" type="text"/>
            <input id="password" placeholder="password" type="password" />
            <button type="button" onclick="onSignUpButtonClicked()">Signup</button>
            <p class="message">Already registered? <a href="/login">Login Here</a></p>
        </form>
    </div>
</div>
</body>
</html>